{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <img src="{{ asset('images/apple-touch-icon.png') }}" /> 
    <ul>
        <li><a href="{{ path('app_juegos_dados',{ 'cantidad' : 1 }) }}">Tirar un dado</a></li>
        <li><a href="{{ path('app_juegos_dados',{ 'cantidad' : 2 }) }}">Tirar dos dados</a></li>
        <li><a href="{{ path('app_juegos_dados',{ 'cantidad' : 3 }) }}">Tirar tres dados</a></li>
    </ul>
    
{% endblock %}
